{% extends 'base_templates/authentication_base.html' %}
{% load static %}
{% block 'head' %}
<link rel="stylesheet" href="{% static 'authentication/css/css.css' %}">
{% endblock %}

{% block 'body' %}

{% if messages %}

    {% for message in messages %}
    
        {{message}}
        
    {% endfor %}

{% endif %}

<div class="container">
    <div class="box">
        <form action="{% url 'login' %}" method="POST" > {% csrf_token %}
            <h2>Login</h2>
            <hr>
            {{auth_form}}
            <br>
            <input type="submit" value="Login" class="btn btn-main">
        </form>
    </div>
</div>
{% endblock %}